@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.loading {
    --speed-of-animation: 0.9s;
    --gap: 6px;
    --first-color:#DA251C;
    --second-color: #0293DF;
    --third-color: #DA251C;
    --fourth-color: #0066AA;
    --fifth-color: #DA251C;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    gap: 6px;
    height: 100px;
   }
   
   .loading span {
    width: 5px;
    height: 70px;
    /* color:#ffffff70; */
    background: var(--first-color);
    animation: scale var(--speed-of-animation) ease-in-out infinite;
   }
   
   .loading span:nth-child(2) {
    background: var(--second-color);
    animation-delay: -0.8s;
   }
   
   .loading span:nth-child(3) {
    background: var(--third-color);
    animation-delay: -0.7s;
   }
   
   .loading span:nth-child(4) {
    background: var(--fourth-color);
    animation-delay: -0.6s;
   }
   
   .loading span:nth-child(5) {
    background: var(--fifth-color);
    animation-delay: -0.5s;
   }
   
   @keyframes scale {
    0%, 40%, 100% {
     transform: scaleY(0.05);
    }
   
    20% {
     transform: scaleY(1);
    }
   }
.childNav ul{
display: none;
}
body{
    overflow-x: hidden;
}
.childNav:hover ul{
    display: block;
    background-color: #0c134f48;
}
.ourProducts .slick-track{
    display: flex !important;
    gap: 10px !important;
}
.slick-list li{
    list-style-type:  none !important;
    
}
.slick-dots li button:before{
    color: transparent !important;
}
